page-band {
    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 150px;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        .card {
          display: inline-block;
          width: 100px;
          height: 150px;
          margin-right: 10px;
        }
    }

    .iconDetails {
        margin-left:2%;
        float:left; 
        height:40px;
        width:40px;	
    } 
       
    .container2 {
        width:100%;
        height:auto;
        padding:1%;
    }
       
    h3 {
        margin:0px;
    }

    .number_title {
        margin:0px;
    }

    .label_title {
        margin:0px;
    }

}
