page-member {
    .bola {
        border-radius: 50%;
        display: inline-block;
        height: 100px;
        width: 100px;
        border: 1px solid #000000;
        background-color: #FFFF00;
        text-align: center;
        font-size: 2.5rem;
    }

    .circulo {
        height: 80px;
        width: 80px;
        display: table-cell;
        text-align: center;
        font-size:3.0rem;
        vertical-align: middle;
        border-radius: 50%;
        background: #FFC917;
    }
}
