page-profile {

    .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin: auto;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .container {
        align-items: center;
        text-align: center;
    }

    .badge-count {
        font-size: 2rem;
    }

    .first-line {
        padding-bottom: 0px;
    }

    .next-line {
        padding: 0px;
    }

    .song-info {
        height: 115px;;
    }

    .ion-md-arrow-forward:before {
        content: "\f287";
        color: black;
    }

    .item-song {
        padding-left: 0px;
    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 150px;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        .card {
          display: inline-block;
          width: 100px;
          height: 150px;
          margin-right: 10px;
        }
    }

    .member-characteristics {
        display: inline;
        list-style: none;
        //font-size: 12px;
        padding-left: 0px;
    }

    .member_medals {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
