<ion-header>

  <ion-navbar color="main">
    <ion-title text-center>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="isUserLogged">
    <ion-item>
      <!--
        <ion-avatar *ngIf="!user.sImagem">
          <p>Não tem imagem</p>
        </ion-avatar>
      -->
      <ion-avatar>
        <img [src]="user.sImagem" />
      </ion-avatar>
      <br>
      <h1>{{ user.sName }}</h1>
      <p>Brazil, Male, 46 years</p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <p class="badge-count">
                <img src="assets/icon/badge_silver.png" /> 3
              </p>
            </div>
          </ion-col>
          <ion-col>
            <div class="container">
              <p class="badge-count">
                <img src="assets/icon/badge_bronze.png" /> 10
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid>
        <ion-row>
          <ion-col class="first-line">
            <div>
              <p>
                <img src="assets/icon/account-multiple.png" /> 77
              </p>
            </div>
          </ion-col>
          <ion-col class="first-line">
            <div>
              <p>
                <img src="assets/icon/subtraction.png" /> 208
              </p>
            </div>
          </ion-col>
          <ion-col class="first-line">
            <div>
              <p>
                <img src="assets/icon/music.png" /> 2884
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="next-line">
            <p>
              rated bands
            </p>
          </ion-col>
          <ion-col class="next-line">
            <p>
              rated albuns
            </p>
          </ion-col>
          <ion-col class="next-line">
            <p>
              rated songs
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="container">
              <button ion-button color="primary" (click)="goToMyRank()">Member #25</button>
            </div>
          </ion-col>
          <ion-col>
            <div class="container">
              <button ion-button color="primary" (click)="goToMyFriends()">My Friends</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <h2>Rated Songs</h2>
    
    <ion-list>
      <ion-item class="item-song">
        <div>
          <img src="../../assets/imgs/eternity-600x591.png" style="float: left; margin-right: 16px; width: 115px" />
          <div class="song-info">
            #1 <br>
            If Eternity Should Fail <br>
            Iron Maiden <br>
            11 songs - 13:40 - 2015 <br>
            Score: 9.34 <br>
            YOUR RATE: 9.86
          </div>
        </div>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      
      <ion-item class="item-song">
        <div>
          <img src="../../assets/imgs/eternity-600x591.png" style="float: left; margin-right: 16px; width: 115px" />
          <div class="song-info">
            #1 <br>
            If Eternity Should Fail <br>
            Iron Maiden <br>
            11 songs - 13:40 - 2015 <br>
            Score: 9.34 <br>
            YOUR RATE: 9.86
          </div>
        </div>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      
      <ion-item class="item-song">
        <div>
          <img src="../../assets/imgs/eternity-600x591.png" style="float: left; margin-right: 16px; width: 115px" />
          <div class="song-info">
            #1 <br>
            If Eternity Should Fail <br>
            Iron Maiden <br>
            11 songs - 13:40 - 2015 <br>
            Score: 9.34 <br>
            YOUR RATE: 9.86
          </div>
        </div>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      
    </ion-list>
    
    <h2>Highly Rated</h2>
    <div class="scrolling-wrapper">
      <div class="card" (click)="openBand()">
        <img src="../../assets/imgs/Image 88.png" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 style="margin: 0px;">#1</h2>
        <p style="margin: 0px;">Iron Maiden</p>
      </div>
      <div class="card" (click)="teste2()">
        <img src="../../assets/imgs/Image 88.png" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 style="margin: 0px;">#1</h2>
        <p style="margin: 0px;">Iron Maiden</p>
      </div>
      <div class="card" (click)="teste3()">
        <img src="../../assets/imgs/Image 88.png" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 style="margin: 0px;">#1</h2>
        <p style="margin: 0px;">Iron Maiden</p>
      </div>
      <div class="card" (click)="teste4()">
        <img src="../../assets/imgs/Image 88.png" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 style="margin: 0px;">#1</h2>
        <p style="margin: 0px;">Iron Maiden</p>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Image 88.png" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 style="margin: 0px;">#1</h2>
        <p style="margin: 0px;">Iron Maiden</p>
      </div>
    </div>
  </div>
  </ion-content>
  
  <div *ngIf="!isUserLogged">
    <p>Não está logado!</p>
  </div>