<ion-header>

  <ion-navbar color="main">
    <ion-title text-center>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="isUserLogged">
    <ion-item>
      <ion-avatar *ngIf="user.sAvatar">
        <img [src]="user.sAvatar" />
      </ion-avatar>
      <ion-avatar *ngIf="!user.sAvatar">
        <img src="../../assets/imgs/avatar.jpeg">
      </ion-avatar>
      <br>
      <h1>{{ user.sName }}</h1>
      <ul class="member-characteristics">
        <li text-center *ngIf="user.fSex == 1">Male</li>
        <li text-center *ngIf="user.fSex == 2">Female</li>
        <li text-center *ngIf="user.dtBirthday && getMemberAge(user) < 100">{{getMemberAge(user)}} years</li>
        <li text-center *ngIf="user.idADMPais">{{getCountry(user.idADMPais)}}</li>
      </ul>

      <div class="member_medals">
        <span *ngFor="let medal of medalsCount">
          <img src="../../assets/icon/badges/badge_{{medal.name.toLowerCase()}}.png" title="{{medal.name}}" width=30px>
          {{medal.number}}
        </span>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col class="first-line">
            <div text-center style="font-size: 1.5rem; color: gray">
              <img style="width: 24px; height: 24px;" src="assets/icon/account-multiple.png" />
              {{user.iTotalBandasVotadas}}
            </div>
          </ion-col>
          <ion-col class="first-line">
            <div text-center style="font-size: 1.5rem; color: gray">
              <img style="width: 24px; height: 24px;" src="assets/icon/subtraction.png" />
              {{user.iTotalAlbumVotadas}}
            </div>
          </ion-col>
          <ion-col class="first-line">
            <div text-center style="font-size: 1.5rem; color: gray">
              <img style="width: 24px; height: 24px;" src="assets/icon/music.png" />
              {{user.iTotalCancaoVotadas}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="next-line">
            <p>
              rated bands
            </p>
          </ion-col>
          <ion-col class="next-line">
            <p>
              rated albuns
            </p>
          </ion-col>
          <ion-col class="next-line">
            <p>
              rated songs
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="container">
              <button ion-button color="primary" (click)="goToMyRank(user)">Member #{{user.ranking}}</button>
            </div>
          </ion-col>
          <ion-col>
            <div class="container">
              <button ion-button color="primary" (click)="goToMyFriends(user)">My Friends</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <h2>Rated Albums</h2>

    <div class="scrolling-wrapper" *ngIf="isUserLogged">
      <div class="card" *ngFor="let album of list_ratedAlbums" (click)="openAlbum(album)">
        <img [src]="album.sImagem" style="width: 100px; height: 100px;"><br>
        <p class="albumName">{{album.sNome}}</p>
        <p class="albumBandName">{{album.sNomeBanda}}</p>
      </div>
    </div>

    <button ion-button full danger (click)="logout()">Logout</button>

  </div>
  
  <div *ngIf="!isUserLogged">
    <h2>You are not logged in!</h2>
    <p>Come to our club!</p>
    <button ion-button block primary (click)="goToLogin()">Login</button>
  </div>
</ion-content>