page-home {
    .inner {
        width: 1000px;
        height: 200px;
        ion-card {
            display: table-cell;
            border: solid 1px #ccc;
        }
    }

    img {
        max-width: 100px;
        max-height: 100px;
        padding: 2px;
    }

    .card-content-md {
        padding: 0;
    }

    .card-title-md {
        display: block;
        font-size: 2rem;
        line-height: 1.2;
        color: yellow;
        margin: 2px 0;
        padding: 5px;
    }

    .card-md p {
        margin: 2px 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
    }
}
