<ion-header>
  <ion-navbar color="main">
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Top Bands</h2>
  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let band of list_bands" (click)="openBand(band)">
      <img [src]="band.sImagem" style="width: 100px; height: 100px; border-radius: 50%;"><br>
      <h2 class="bandRank">#{{ band.serial }}</h2>
      <p class="bandName">{{ band.sNome }}</p>
    </div>
  </div>

  <h2>Top Albums</h2>
  <div class="scrolling-wrapper-album">
    <div class="card-album" *ngFor="let album of list_albums" (click)="openAlbum(album)">
      <img [src]="album.sImagem" style="width: 100px; height: 100px;" />
      <h2 class="albumRank">#{{ album.serial }}</h2>
      <p class="albumName">{{ album.sNome }}</p>
      <p class="albumBandName">{{ album.sNomeBanda }}</p>
    </div>
  </div>

  <h2 *ngIf="isUserLogged">Just Rated</h2>
  <div class="scrolling-wrapper" *ngIf="isUserLogged">
    <div class="card" *ngFor="let album of list_ratedAlbums" (click)="openAlbum(album)">
      <img [src]="album.sImagem" style="width: 100px; height: 100px;"><br>
      <p class="albumName">{{album.sNome}}</p>
      <p class="albumBandName">{{album.sNomeBanda}}</p>
    </div>
  </div>

<!--
--> 

  <h2 *ngIf="isUserLogged && list_incompleteRatings">Incomplete Ratings</h2>
  <div class="scrolling-wrapper" *ngIf="isUserLogged && list_incompleteRatings">
    <div class="card" *ngFor="let album of list_incompleteRatings" (click)="openAlbum(album)">
      <img [src]="album.sImagem" style="width: 100px; height: 100px;"><br>
      <p class="albumName">{{album.sNome}}</p>
      <p class="albumBandName">{{album.sNomeBanda}}</p>
    </div>
  </div>
  
  <h2>New Releases</h2>
  <div class="scrolling-wrapper-album">
    <div class="card-album" *ngFor="let album of list_recentAlbums" (click)="openAlbum(album)">
      <img [src]="album.sImagem" style="width: 100px; height: 100px;" />
      <h2 class="albumRank">#{{ album.serial }}</h2>
      <p class="albumName">{{ album.sNome }}</p>
      <p class="albumBandName">{{ album.sNomeBanda }}</p>
    </div>
  </div>
  
  <!--
    <h2>Top Members</h2>
    <div class="scrolling-wrapper">
      <div class="card" *ngFor="let member of list_members" (click)="teste1()">
        <img [src]="member.sAvatar" style="width: 100px; height: 100px; border-radius: 50%;"><br>
        <h2 class="memberRank">#{{member.rPosicaoRankingGeral}}</h2>
        <p class="memberName">{{member.sName}}</p>
      </div>
    </div>
  -->
    
  <h2>Styles</h2>
  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let style of list_styles" (click)="openStyle(style)">
      <img [src]="style.sImagem" style="width: 100px; height: 100px;"><br>
      <h2 text-center style="margin: 0px; font-size: 1.4rem">{{ style.sNome }}</h2>
    </div>
  </div>
</ion-content>