page-styles {

    ion-col.col {
        width: 100px;
    }

    .style-title {
        margin: 6px;
    }

    .style-card {
        display: inline-block;
        width: 100px;
        height: 150px;
    }

    h2 {
        margin: 6px;
    }


}
